* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

li {
    list-style-type: none;
}

.nav ul {
    width: 100px; 
    transition: all 1.5s ease;
}

.nav ul a {
    color: black;
    transition: color 3.5s ease;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.header {
    display: flex;
    background-color: #339966;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    margin: 10px;
}

.form-search {
    margin-right: 20px;
}

.btn {
    padding: 5px 10px;
    background-color:aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

#search {
    padding: 5px;
    border-radius: 5px;
    border-color: aliceblue;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
}

.top-nav li {
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
}

.top-nav li:hover > .nested-list {
    height: 80px;
    color: black;
    transition: all 1s ease;
}

.nested-list {
    color: rgba(0,0,0,0);
    height: 0;
    transition: all 1s ease;
}

.main-header {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 0 20px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 10px 10px 10px rgba(1,1,1,0.3);
}

.checkbox {
    width:18px;
    height:18px;
    align-self: flex-start;
}

.checkbox:checked ~ ul {
    width:0;    
    transition: all 1.5s ease;
}

.checkbox:checked ~ ul a {   
    color: rgba(0,0,0,0);
    transition: all 0.5s ease;
}

.nav li {
    width: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.header {
    margin-bottom: 20px ;
}

.article-header {
    margin: 10px 0;
}

#history .article-header {
    margin: 0 0 10px;
}

.infobox {
    margin: 0 20px;
    text-align: center;
}
.infobox .img {
    margin: 10px 0;
}

.table {
    margin-top: 10px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.table td {
    vertical-align: top;
}

.wrap-info-click {
    display: flex;
    justify-content: space-around;
}

.info-click {
    align-self: center;
    cursor: pointer;
}

.park img {
    width: 284px;
    height: 150px;
    transition: height 1s ease; 
}

.map img {
    width: 284px;
    height: 250px;
    transition: height 1s ease; 
}

.info-click:checked ~ .wrap-aside {
    height: 0;
    color: rgba(0,0,0,0);
    cursor: pointer;
    transition: color 0.3s;
} 

.info-click:checked ~ .wrap-aside figure img,
.info-click:checked ~ .wrap-aside table,
.info-click:checked ~ .wrap-aside figure {
    height: 0;
    transition: height 1s ease; 
}

.footer {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}